doctype html
html
    head
      meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

      title.
        Number

      style.
        div {
          font-size: 3em;
        }

    body
      div.
        #{ count }
