doctype html
html
    head
      meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
      link(href='//fonts.googleapis.com/earlyaccess/nanumpenscript.css' rel='stylesheet' type='text/css')

      title.
        Number

      style.
        div {
          font-family: 'Nanum Pen Script', sans-serif;
          font-size: #{ size };
          text-align: center;
        }

    body
      div.
        #{ count }
